rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isWorkspaceMember(workspaceId) {
      return isAuthenticated() && request.auth.token.workspaceId == workspaceId;
    }

    function isOwner(data) {
      return isAuthenticated() && request.auth.uid == data.createdBy.id;
    }

    // Rules for each collection
    match /people/{id} {
      allow read, delete: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
    }

    match /companies/{id} {
      allow read, delete: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
    }

    match /notes/{id} {
      allow read, delete: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
    }

    match /opportunities/{id} {
      allow read, delete: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
    }

    match /tasks/{id} {
      allow read, delete: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
    }

    match /users/{id} {
      allow read: if isWorkspaceMember('system') || (isAuthenticated() && request.auth.uid == id);
      allow delete: if isWorkspaceMember('system') && resource.data.workspaceId == 'system';
      allow create: if isWorkspaceMember('system') && request.resource.data.workspaceId == 'system';
      allow update: if isWorkspaceMember('system') && resource.data.workspaceId == 'system' && request.resource.data.workspaceId == 'system';
    }

    match /_metadata/{id} {
      allow read, delete: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
    }
  }
}
