rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }

    function isWorkspaceMember(workspaceId) {
      return isAuthenticated() && request.auth.token.workspaceId == workspaceId;
    }

    function isOwner(data) {
      return isAuthenticated() && request.auth.uid == data.createdBy.id;
    }

    function isWorkspaceAdmin() {
      return isAuthenticated() && request.auth.token.role == 'ADMIN';
    }

    // Rules for each collection
    match /people/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
    }

    match /noteTargets/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
    }

    match /companies/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
    }

    match /notes/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
    }

    match /opportunities/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId);
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
    }

    match /tasks/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId);
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && (isWorkspaceAdmin() || isOwner(resource.data));
    }

    match /users/{id} {
      allow read: if isWorkspaceMember('system') || (isAuthenticated() && request.auth.uid == id) || (isAuthenticated() && request.auth.token.workspaceId == resource.data.workspaceId);
      allow create: if isWorkspaceMember('system') || (isWorkspaceMember(request.resource.data.workspaceId) && isWorkspaceAdmin());
      allow update: if isWorkspaceMember('system') || (isAuthenticated() && request.auth.uid == id && resource.data.workspaceId == request.resource.data.workspaceId) || (isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId) && isWorkspaceAdmin());
      allow delete: if isWorkspaceMember('system') || (isWorkspaceMember(resource.data.workspaceId) && isWorkspaceAdmin());
    }

    match /_metadata/{id} {
      allow read: if isWorkspaceMember(resource.data.workspaceId);
      allow create: if isWorkspaceMember(request.resource.data.workspaceId) && isWorkspaceAdmin();
      allow update: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceMember(request.resource.data.workspaceId) && isWorkspaceAdmin();
      allow delete: if isWorkspaceMember(resource.data.workspaceId) && isWorkspaceAdmin();
    }
  }
}
